<a href="https://colab.research.google.com/github/Himani0/Spam_mail_Prediction/blob/main/Spam_Mail_Prediction_using_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Download data from **KAGGLE** and read that data with the help of *pandas*

In [2]:
raw_data = pd.read_csv("spamham.csv", encoding= "Latin-1")

Now replacing the *null values* with **null string**

In [3]:
mail_data = raw_data.where((pd.notnull(raw_data)), '')

In [4]:
mail_data.shape

(5572, 5)

In [5]:
mail_data.head()

  Category  ... Unnamed: 4
0      ham  ...
1      ham  ...
2     spam  ...
3      ham  ...
4      ham  ...

[5 rows x 5 columns]

In [6]:
mail_data.columns

Index(['Category', 'Message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Now labeling the *spam* to 0 and *ham* to 1

In [7]:
mail_data.loc[mail_data['Category']=='spam', 'Category'] = 0

In [8]:
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 1

In [9]:
mail_data[['Category','Message']]

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will Ì_ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

Assigning the data to X and Y

In [10]:
X = mail_data['Message']  
Y = mail_data['Category']

In [11]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [12]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [13]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=100)

Converting the text to feature vector. Using **TfidfVectorizer**

In [14]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_features =feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [15]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [16]:
# training the model using SVM

model = LinearSVC()
model.fit(X_train_features, Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [17]:
# Evaluation 

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [18]:
print("Accuracy on Training data:", accuracy_on_training_data)

Accuracy on Training data: 0.9997756338344178

In [19]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [20]:
print("Accuracy onn Test data:",accuracy_on_test_data)

Accuracy onn Test data: 0.9847533632286996

Giving the input to check whether our model predicts the correct output or not

In [21]:
input_mail = ["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."]

In [22]:
# Converting the text to feature vector

input_mail_features = feature_extraction.transform(input_mail)

In [23]:
prediction = model.predict(input_mail_features)
print(prediction)

[1]

In [24]:
if prediction[0] == 1:
  print("Received mail is HAM mail")
else:
  print("Received mail is SPAM mail")

Received mail is HAM mail

In [25]:
new_input_mail = ["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,,,"]

In [26]:
new_input_mail_features = feature_extraction.transform(new_input_mail)

In [27]:
prediction_on_new_input_mail = model.predict(new_input_mail_features)
print(prediction_on_new_input_mail)

[0]

In [28]:
if prediction_on_new_input_mail[0] == 1:
  print("HAM mail")
else:
  print("SPAM mail")

SPAM mail